:root{
    --bg-gradient: linear-gradient(to bottom right, #665DCD, #5FA4E6, #D2AB67);
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #141619;
    color: white;
    font-family: "Inter", sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0x auto;
}

a{
    text-decoration: none;
    color: #ffff;
    display: inline;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #FFFFFF;
}

h2,
h3,
h4,
h5 {
  font-weight: 600;
}

h1,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 56px;
}

h3 {
  font-size: 34px;
}

p,
h6 {
  font-size: 20px;
}

h1{
  background: var(--bg-gradient);
  background-clip: text;
  color: transparent;
}

.homepage-section,
.about-section,
.market-section,
.partner-section,
.good-section,
.join-section,
.contact-section,
.footer-section {
  padding: 100px 0;
}

.my-pri-btn {
  background: var(--bg-gradient);
  padding: 10px 20px;
  border-radius: 0px;
}
.homepage-section{
    font-size: 15px;
}

.header-wrapper a {
  font-size: 15px;
}

.gradient-dot {
  height: 15px;
  width: 15px;
  background: var(--bg-gradient);
  border-radius: 100%;
}

/* About */
/* .about-wrapper>div>div:nth-child(1)>div{
  border-bottom: 1px solid #5FA4E6;
} */

.about-wrapper>div>div>div>:nth-child(3)>div{
  border: 1px solid #ffff;
}

.about-wrapper>div>div:nth-child(2)>div{
  background: var(--bg-gradient);
}

.about-wrapper>div>p{
  font-size: 18px;
}

/* market */

.market-wrapper>div>div>div:nth-child(2)>div>img,
.market-wrapper>div>div>div:nth-child(1)>div>img {
  background: url("/market/bg.png") no-repeat center;
  background-size: cover;
}

.market-wrapper a>span {
  font-size: 18px;
}

/* Good */

.good-wrapper>div:nth-child(4)>div>p {
  font-size: 14px;
  font-weight: 300;
}

@media only screen and (max-width:576px) {
  .good-wrapper>div:nth-child(4)>div>div:nth-child(2) {
    transform: rotate(90deg);
  }
}

/* Join*/

.join-wrapper>div>div:nth-child(2)>a span {
  font-size: 18px;
}

* Contact section */
.contact-section{
  background: url("/Images/Contact/bg.png") no-repeat center;
  background-size: cover;
}

/* Footer*/

/* .footer-section{
  background: var(--bg-gradient);
} */

.footer-wrapper a,
.footer-wrapper p{
  font-size: 14px;
  font-weight: 300;
}