*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    max-width: 1110px;
    margin: 0px auto;
    padding: 0px 15px;
}

.section-heading{
    text-align: center;
}

.main{
    background: url("./images/bg.png") no-repeat center;
    /* background-repeat: no-repeat;
    background-position: center; */
    background-size: cover;

}

body{
    font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Lato", sans-serif;
}

h2{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    display: inline-block;
}

header{
    padding: 20px 0;
}

.home-page{
    padding: 100px 0px 150px 0px;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    font-family: "Lekton", monospace;
}

.header-wrapper nav{
    display: flex;
    gap: 15px;
}

.header-wrapper nav a{
    color: #ffff;
}

.btn{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 12px 18px;
    border-radius: 20px;
    color: #ffff;
}

.homepage-wrapper{
    text-align: center;
    color: #ffff;
}

.homepage-wrapper h1{
    font-family: "Poppins", sans-serif;
    margin-bottom: 50px;
    font-size: 50px;
}

.homepage-wrapper p{
    margin-bottom: 100px;
}

.primary-btn{
    background-color: #231A36;
    padding: 12px 20px;
    color: #ffffff;
    border-radius: 20px;
}

.global-client{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 66px;
}
.global-client > p{
  font-size: 16px;
  color: #B2B7BE;
  font-weight: bold;
}

.clients-brand-logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 57px;
  
}

.clients-brand-logo img:hover{
  transform: scale(1.1);
}

.clients-brand-logo img{
  width: 137px;
  height: 25px;
  object-fit: contain;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}

.homepage-container{
  padding: 85px 15px;
}

.services-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.services{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.service-2{
  flex-direction: row-reverse;
}

.service-info{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
  padding: 15px;
}

.service-name{
  font-size: 14px;
  font-weight: 600;
}

.service-info h2{
  font-size: 30px;
  font-weight: 500;
}

.service-detail{
  font-size: 16px;
  color: #426666;
}

.service-image img{
  height: 250px;
  width: 250px;
  object-fit: contain;
}

.influencer{
  color: #FBBA33;
}
.community{
  color: #DE2879;
}
.managed{
  color: #b33cdb;
}

.service-info > a{
  margin-top: 20px;
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
}

.service-info .learn-more-purple{
  background-color: #b33cdb;
  transition: all ease-out 0.3s;
}
.service-info .learn-more-yellow{
  background-color: rgb(251, 186, 51);
  transition: all ease-out 0.3s;
}
.service-info .learn-more-pink{
  background-color: rgb(222, 40, 121);
  transition: all ease-out 0.3s;
}

.service-info .learn-more-purple:hover{
  box-shadow: 0px 2px 10px rgba(179, 60, 219, 0.7);
}
.service-info .learn-more-yellow:hover{
  box-shadow: 0px 2px 10px rgba(251, 186, 51, 0.7);
}
.service-info .learn-more-pink:hover{
  box-shadow: 0px 2px 10px rgba(222, 40, 121, 0.7);
}

.arrow{
  margin-left: 10px;
  border: 2px solid;
  padding: 0 2px;
  border-radius: 100%;
}

.solution-intro{
  padding-top: 65px;
  padding-bottom: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 25px;
}

.solution-intro h2{
  font-weight: 600;
  color: #231A36;
}

.solution-intro p{
  color: #426666;
  font-size: 16px;
}

/* search */

.search{
    padding: 100px 0px;
    background-color: #231A36;
    color: #ffff;
}

.search-wrapper{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    flex-wrap: wrap;
}

.search-wrapper span{
    font-size: 14px;
}

/* need */

.need{
    padding: 100px 0px; 
}

.need-wrapper h5{
    font-size: 16px;
}

.need-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    padding-top: 30px;
}

.need-wrapper > div{
    width: 30%;
    position: relative;
}

.need-wrapper h4{
    font-size: 18px;
}

.need-wrapper > div > div{
    background-color: #ffff;
    box-shadow: 0px 4px 4px 0px rgba(223, 223, 223, 0.3);
    width: 100%;
    padding: 20px 30px;
    position: absolute;
    bottom: -50px;
    left: 0px;
}

.need-wrapper > div > div > div{
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.need-wrapper > div > div > div span {
    font-size: 10px;
}

/* clients */

.clients {
    padding: 100px 20px;
}

.clients h2{
    position: relative;
    display: inline-block;
}

.clients h2 img{
    position: absolute;
    top: -50px;
    left: -40px;
}

.founder-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 100px;
  gap: 70px;
}
 
.founder-info{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 50px;
}

.founder-info > p{
  font-size: 22px;
  font-style: italic;
  color: #6D6D6D;
}

.founder-detail{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}

.founder-detail .name{
  color: #1C1C1D;
  font-size: 25px;
  font-weight: bold;
}

.founder-detail .position{
  font-size: 16px;
  color: #9C988F;
}

.subscribe{
  padding: 100px 15px;
}

.subscribe-wrapper{
  background-image: url(./images/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 15px;
  border-radius: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: white;
  text-align: center;
}

.subscribe-wrapper h2{
  font-size: 40px;
  font-weight: 500;
}

.subscribe-wrapper p{
  font-size: 16px;
}

.subscribe-arrow a{
  color: white;
  font-size: 15px;
}

.subscribe-arrow a:nth-child(2){
  border: 1px solid white;
  border-radius: 20px;
  padding: 0 2px;
}

.subscribe-arrow{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  background-color: #231A36;
  padding: 15px 35px;
  border-radius: 25px;
}

.footer-social{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  border-bottom: 1px solid #E3E3EA;
}

.footer-social nav{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;
  font-size: 16px;
}

.footer-social nav a:hover{
  color: red;
}

.social-media{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.social-media img{
  height: 30px;
  width: 30px;
}

.copyright{
  padding: 40px 0;
  text-align: center;
  font-size: 11px;
  color: #959595;
}



@media only screen and (min-width: 1100px) {
    .homepage-wrapper h1{
        font-size: 94px;
    }
    .line-break{
        display: block;
    }

    .need-wrapper h4{
        font-size: 24px;
    }

    .need-wrapper > div > div{
        width: 85%;
    }
}


@media only screen and (max-width: 568px) {
    .header-wrapper nav{
        display: none;
    }

}

@media only screen and (max-width: 992px) {

    .need-wrapper{
        justify-content: center;
        gap: 25px;
        
    }
    .need-wrapper > div{
        width: 45%; 
    }

    .need-wrapper > div:nth-child(3){
        margin-top: 50px;
    }
}

@media only screen and (max-width: 768px) {

    h2{
        font-size: 32px;
    }

    .header-wrapper nav{
        display: none;
    }

    .services{
    flex-direction: column-reverse;
  }
    
    .search-wrapper > div{
        width: 50%;
        text-align: center;
        margin-top: 30px;
    }

    .need-wrapper{
        justify-content: center;
        gap: 25px;
        
    }
    .need-wrapper > div{
        width: 75%; 
    }

    .need-wrapper > div{
        margin-top: 50px;
    }


}

@media only screen and (max-width:893px){
    .clients-brand-logo{
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .line-break{
    display: block;
  }
  .founder-wrapper > img{
    display: none;
  }

}
@media only screen and (min-width:495px){
  .line-break{
    display: block;
  }
}

@media only screen and (max-width:939px){
  .footer-social{
    flex-direction: column;
    gap: 30px;
  }
}