*{
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
}
body{
   background-color: #6f6f6f;
   height: 100vh;
   font-family:Arial, Helvetica, sans-serif;
}

.full-box{
   box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
   padding: 40px;
   border-radius: 10px;
   background-color: #FFFFFF;
   width: 500px;
}

.hex-box{
   color: #000;
   font-weight: bold;
   font-size: 24px;
   background-color: #e9fffe;
   border: 1px solid  #cdcdcd;
   border-radius: 10px;
   padding: 10px 20px;
   text-align: center;
}

.color-box > input{
   width: 100%;
   height: 45px;
   border-radius: 10px;
}

.full-box > p:nth-of-type(2) {
   color: #acacac;
   font-size: 14px;
}

.full-box > p:nth-of-type(1) {
   color: #6f6f6f;
}


.full-box > div:nth-of-type(3) > div > button{
   border-radius: 10px;
   padding: 5px 10px;
   border: none;
}

.full-box > div:nth-of-type(3) > div:nth-child(1) > button{
   background-color: #ffbf00;
   width: 80px;
   height: 40px;
}

.full-box > div:nth-of-type(3) > div:nth-child(2) > button{
   background-color: #ff0000;
   width: 80px;
   height: 40px;
}

.full-box > div:nth-of-type(3) > div:nth-child(3) > button{
   background-color: #008000;
   width: 80px;
   height: 40px;
}