*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}
body{
   display: flex;
   align-items: center;
   justify-content: center;
   padding-top: 100px;
   font-family: Arial, Helvetica, sans-serif;
}

li{
   list-style-type: none;
}

.main-div{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.input-div{
   display: flex;
   flex-direction: column;
   gap: 15px;
   border: 3px solid rgb(131, 152, 169);
   padding: 20px;
   border-radius: 20px;
}

.input-name,
.input-title,
.input-desc,
.input-image{
   font-size: 20px;
   padding: 10px;
   border: 3px solid rgb(131, 152, 169);
   border-radius: 10px;
}

.input-desc:focus,
.input-name:focus,
.input-title:focus{
   border: 3px solid rgb(0, 0, 0);
   background-color: #f6fff6;
   outline: none;
}

.add-button{
   background-color: rgb(131, 152, 169);
   padding: 15px;
   font-size: 18px;
   color: #FFF;
   border: none;
   border-radius: 10px;
   transition: all ease 0.3s;
}

.add-button:hover{
   background-color: rgb(107, 139, 165);
}

.output-div{
   border: 3px solid rgb(131, 152, 169);
   padding: 20px;
   border-radius: 20px;
}

img{
   height: 100px;
   width: 100px;
   object-fit: cover;
   border: 2px solid rgb(131, 152, 169);
   padding: 3px;
   border-radius: 100%;
}

.card{
   display: flex;
   align-items: center;
   gap: 20px;
}

.card-list{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 15px;
}

.card-item{
   border: 3px solid rgb(131, 152, 169);
   padding: 20px;
   border-radius: 20px;
}

.card > div:nth-child(1){
   padding: 20px;
   border-right: 3px solid rgb(131, 152, 169);
}

.card > div:nth-child(2) > h2{
   font-size: 30px;
   margin-bottom: 5px;
}

.card > div:nth-child(2) > p:nth-child(2){
   font-style: italic;
   font-size: 22px;
   font-weight: 500;
   font-family: sans-serif;
   margin-bottom: 5px;
}

.card > div:nth-child(2) > p:nth-child(3){
   font-size: 18px;
   font-weight: 500;
   font-family: sans-serif;
   margin-bottom: 5px;
}